backend/routes/__pycache__/fyp.cpython-312.pyc
backend/routes/__pycache__/create_user.cpython-312.pyc
backend/routes/__pycache__/fyp.cpython-312.pyc
backend/routes/__pycache__/investments.cpython-312.pyc
client/angular.json
