<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubble-ellipses"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      @for (company of recommendedCompanies.slice(0, 2); track $index) {
      <ion-col size="6" sizeLg="5">
        <app-invest-card [company]="company"></app-invest-card>
      </ion-col>
      }
    </ion-row>
    <ion-row class="ion-justify-content-center">
      @for (company of recommendedCompanies.slice(2, 4); track $index) {
      <ion-col size="6" sizeLg="5">
        <app-invest-card [company]="company"></app-invest-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
