.invest-card {
  margin: 0;
}

.invest-card-title {
  padding: 1rem 0.5rem;
  font-size: 0.75em;
}

.people {
  display: flex;
  justify-content: end;
  align-items: end;
}

.stock-quick-data {
  h2,
  p {
    margin: 0;
  }
}
