.invest-card {
  margin: 0;

  &:hover {
    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    // background-color: var(--);
  }
}

.card-title {
  padding: 1rem 0.5rem;
  font-size: 0.75em;
}

.people {
  display: flex;
  justify-content: end;
  align-items: end;
}

.stock-quick-data {
  p {
    margin: 0;
  }
}
