<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="for-you" href="/for-you">
      <ion-icon aria-hidden="true" name="compass"></ion-icon>
      <ion-label>For You</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="accounts" href="/accounts">
      <ion-icon aria-hidden="true" name="cash"></ion-icon>
      <ion-label>Accounts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/profile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
